.kanji-grid-levels {
    margin-bottom: 10px;
    font-weight: bold;
}

.kanji-grid-levels a {
    cursor: pointer;
}
.kanji-grid-levels button {
    margin-left: 1em;
}

.kanji-grid-levels a.selected {
    color: white;
}

.kanji-row .kanji-grid-item {
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    min-height: 160px;
    height: 160px;
    overflow: hidden;
    margin-bottom: 4px;
    padding: 5px;
}

.kanji-grid-left .row {
    margin-bottom: 1em;
}

.kanji-search-group {
    margin-bottom: 2em;
}
